body {
    margin: 0;
    padding: 0;
    width: auto;
}

h1, p {
    text-align: center;
    margin: 10px;
}

canvas {
    display: block;
    margin: 0 auto;
    margin-top: auto;
    /* width: 85%;  */
}

#counter {
    text-align: center;
}

#level {
    text-align: center;
}

@media screen and (max-width: 500px) {

    body {
        margin: 0;
        padding: 0;
        width: auto;
    }
    
    #headerDiv {
      width: 900px;
    }
    #footerDiv {
        width: 900px;
    }
  }